.markdown iframe {
    @apply max-w-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto;
}
  

.markdown p,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
    @apply mx-4 xl:mx-32;
}

.markdown p,
.markdown ul,
.markdown ol {
    @apply my-8 text-lg xl:text-xl font-blogpost;
    color: #d6d6d6;
}

.markdown blockquote p {
    @apply italic font-serif text-sm xl:text-2xl;
    color: #1e1e1e;
    background-color: #aff7d0;
    border-radius: 10px;
    padding-left: 15px;
    padding: 15px;

}

.markdown p {
    text-align: justify;
}
  
.markdown h1 {
    @apply  text-5xl md:text-7xl text-white font-bold mt-12 mb-4 leading-snug;
}

.markdown h2 {
    @apply text-3xl lg:text-6xl text-white border-l-4 p-3 mt-32 font-bold mb-4 leading-snug;
}
  
.markdown h3 {
    color: white;
    @apply text-3xl xl:text-5xl mt-20 mb-3 leading-snug;

}

.markdown ol {
    @apply ml-14 mr-4 xl:mx-52 list-decimal text-justify
}

.markdown ul {
    @apply ml-14 mr-4 xl:mx-20 list-disc text-justify
}

.markdown em {
    color: #d2e4ff;
}

.markdown strong {
    color: #aff7d0;
}

::selection .markdown {
    color: red;
    background: yellow;
}

.markdown code {
    color: #242424;
    @apply text-lg bg-accent-1-lighter rounded-md p-0.5
}

.markdown img {
    @apply mx-auto xl:max-w-full
}

span .highlight {
    @apply text-white
}

.markdown a {
    color: #aff7d0;
    text-decoration: underline;
}
