.markdown iframe {
  @apply max-w-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto;
}
.markdown video {
  @apply max-w-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto;
}

.markdown p,
.markdown pre,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  @apply mx-4 xl:mx-44;
}

.markdown table {
  @apply table-auto text-white mx-auto text-xl border-separate;
  border-color: #aff7d0;
  border-spacing: 150px 16px;
}

.markdown table thead {
  @apply text-2xl;
}
.markdown table tbody tr {
  color: #d6d6d6;
}

.markdown p,
.markdown ul,
.markdown ol {
  @apply my-8 text-lg xl:text-lg font-blogpost;
  color: #d6d6d6;
}

.markdown blockquote p {
  @apply italic font-serif text-lg xl:text-xl px-4 py-1 xl:px-10 xl:py-5;
  color: #aff7d0;
}

.markdown p {
  text-align: justify;
}

.markdown h1 {
  @apply text-5xl md:text-5xl text-white font-bold mt-12 leading-snug;
}

.markdown h2 {
  @apply text-3xl lg:text-3xl text-white border-l-4 p-3 mt-32 font-bold mb-4 leading-snug;
}

.markdown h3 {
  color: white;
  @apply text-3xl xl:text-2xl mt-20 mb-3 leading-snug;
}

.markdown h4 {
  color: white;
  @apply text-2xl xl:text-xl mt-20 mb-3 leading-snug;
}

.markdown ol {
  @apply ml-11 mr-4 xl:mx-60 list-decimal text-justify;
}

.markdown ul {
  @apply ml-11 mr-4 xl:mx-32 list-disc text-justify;
}

.markdown em {
  color: #d2e4ff;
}

.markdown strong {
  color: #aff7d0;
}

.markdown img {
  @apply mx-auto xl:max-w-full;
}

.markdown a {
  color: #aff7d0;
  text-decoration: underline;
}

.markdown code {
  @apply font-mono font-bold;
}

.markdown pre {
  @apply scrollbar-hide;
}
