.markdown iframe {
    @apply max-w-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto;
}
  

.markdown p,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
    @apply mx-4;
}

.markdown p,
.markdown ul,
.markdown ol {
    @apply my-8 text-sm xl:text-2xl font-blogpost;
    color: #d6d6d6;
}

.markdown blockquote p {
    @apply italic font-serif text-sm xl:text-2xl;
    color: #1e1e1e;
    background-color: #aff7d0;
    border-radius: 10px;
    padding-left: 15px;
    padding: 15px;

}

.markdown p {
    text-align: justify;
}
  
.markdown h1 {
    @apply  text-3xl md:text-7xl text-white font-bold mt-12 mb-4 leading-snug;
}

.markdown h2 {
    color: white;
    background-color: #1abc9c;
    border-radius: 10px;
    padding: 8px;
    padding-left: 15px;
    @apply text-xl lg:text-5xl mt-32 font-bold mb-4 leading-snug;
}
  
.markdown h3 {
    color: white;
    @apply text-4xl xl:text-5xl mt-20 mb-3 leading-snug;

}

.markdown em {
    color: #d2e4ff;
}

.markdown strong {
    color: #aff7d0;
}

::selection .markdown{
    color: red;
    background: yellow;
  }

.markdown code {
    margin-bottom: 30px;
    color: rgb(243, 54, 54);
    background-color: #fefefe;
    border-radius: 10px;
    padding: 7px;
}

.markdown a {
    color: #aff7d0;
    text-decoration: underline;
}
