html,
body {
  padding: 1em;
  margin: 1em;
  font-family: Avenir, Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  
}

h1 {
  font-size: 2em;
}

h2 {
  color: #120D31;
}

a {
  color: inherit;
  text-decoration: dashed;
}

* {
  box-sizing: border-box;
}

em {
  color: #777777;
}