@import url("https://api.fontshare.com/v2/css?f[]=zodiak@1,2&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=supreme@2,1&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Recursive;
  src: url("/assets/Recursive_VF.woff2") format("woff2");
}

#index {
  /* background: #0c0c0c; */
  min-height: 100%;
  background: radial-gradient(circle, rgb(19, 62, 58) 0%, rgb(5, 35, 30) 68%);
  background-attachment: fixed;

  --size: 110px;
  background-image: repeating-linear-gradient(
      0deg,
      #ffffff55,
      #ffffff55 1px,
      transparent 1px,
      transparent var(--size)
    ),
    repeating-linear-gradient(
      -90deg,
      #ffffff55,
      #ffffff55 1px,
      transparent 1px,
      transparent var(--size)
    ),
    radial-gradient(circle, rgb(19, 62, 58) 0%, rgb(2, 23, 19) 68%);

  background-size: var(--size) var(--size), var(--size) var(--size), 100% 100%;

  background-blend-mode: overlay, overlay, overlay;

  scroll-behavior: smooth;
}

html {
  background-image: radial-gradient(
    circle,
    rgb(8, 41, 38) 0%,
    rgb(2, 23, 19) 68%
  );
  color: "#efefefef";
}
