@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600&display=swap");

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

html {
  font-family: "IBM Plex Sans";
}

/* Your own custom utilities */
#index {
  /* background: #0c0c0c; */
  min-height: 100%;
  background: radial-gradient(circle, rgb(19, 62, 58) 0%, rgb(5, 35, 30) 68%);
  background-attachment: fixed;
  scroll-behavior: smooth;
}

html {
  background-color: #202020;
}
